@tailwind base;
@tailwind components;
@tailwind utilities;

/* Étendre le body sur toute la fenêtre avec l'image de fond */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Appliquer l'image de fond uniquement à la fenêtre */
body {
  background-image: url('/nasa_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORCER L'ENCADRÉ SUR LE CONTENU */
.encadre {
  background-color: rgba(255, 255, 255, 0.315); /* Augmenter la transparence */
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 800px;
  width: 100%; 
}

/* Style pour scroller la liste */
.scrollable-list {
  max-height: 300px; /* Hauteur max avant scroll */
  overflow-y: auto; /* Ajoute le scroll vertical */
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* Styles généraux */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent; /* Suppression du fond sombre */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1
}